$white: #fff;
$yellow: #ff0;
$orange: #ff8000;
$orangered: #ff4500;
$red: #f00;

.countdown {
  animation: countdowncolor 8s 1;
  color: $red;
  font-size: 9rem;
}

@keyframes countdowncolor {
  0% {
    color: $white;
    font-size: 4rem;
  }
  40% {
    color: $yellow;
  }
  60% {
    color: $orange;
  }
  90% {
    color: $orangered;
  }
  91% {
    font-size: 4.5rem;
    transform: rotate(-1deg);
  }
  92% {
    font-size: 5rem;
    transform: rotate(1deg);
  }
  93% {
    font-size: 5.5rem;
    transform: rotate(-1deg);
  }
  94% {
    font-size: 6rem;
    transform: rotate(1deg);
  }
  95% {
    font-size: 6.5rem;
    transform: rotate(-2deg);
  }
  96% {
    font-size: 7rem;
    transform: rotate(2deg);
  }
  97% {
    font-size: 7.5rem;
    transform: rotate(-2deg);
  }
  98% {
    font-size: 8rem;
    transform: rotate(2deg);
  }
  99% {
    font-size: 8.5rem;
    transform: rotate(-2deg);
  }
  100% {
    color: $red;
    font-size: 9rem;
  }
}
