$secondary: #ffa000;
$primary: #ffc107;
$action: #26c6da;
$white: #fff;

html,
body {
  height: 100%;
}
#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

header {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $primary;
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

nav a {
  padding: 0.5rem;
  margin: 0.5rem;
}

main {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $secondary;
  color: $white;
  text-align: center;
}
