.loading-wrapper {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.loading {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}
.loading div {
  position: absolute;
  animation: loading 1.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  background: #000;
  border-radius: 50%;
  opacity: 1;
}
.loading div:nth-child(2) {
  animation-delay: -0.7s;
}
@keyframes loading {
  0% {
    top: 2rem;
    left: 2rem;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -0.063;
    left: -0.063;
    width: 4rem;
    height: 4rem;
    opacity: 0;
  }
}
